/* Colors */
.careersbay {
    background-color: #767bac !important;
}

.careersbay-text {
    color: #767bac !important;
}

.profile-element {
  text-align: center;
}
.profile-element img {
    width: 80px;
    height: 80px;
}
.label-primary{
    background-color: #3367d6;
}
.btn-primary {
    background-color: #3367d6;
    border-color: #3367d6;
}
.btn-primary:hover {
    background-color: #2657c0 !important;
    border-color: #2657c0 !important;
}
.btn-primary:focus {
    background-color: #1c84c6 !important;
    border-color: #1c84c6 !important;
}
.btn-edit {
    background-color: #1ab394;
    border-color: #1ab394;
}
.btn-edit:hover {
    background-color: #204d74;
    border-color: #122b40;
}
.nav > li.active {
   border-left: 4px solid #1d4395;
}
.nav-header a {
    color: #777;
}
.stat-percent{
    font-size: 25px;
}
.ibox-content small {
    font-size: 16px !important;    
}
#side-menu {
    background: #fff;
}
.sidebar-collapse {
    background: #fff;
}
.text-info i {
    color: #1c84c6;
}
.text-navy i {
    color: #1c84c6;
}
#side-menu .nav-header:hover {
    background: transparent !important;
}

#side-menu li:hover {
    background: #3367d6;
}

/* chosen */
.chosen-container .chosen-results li.highlighted {
    background-color: #3367d6 !important;
}

/* Error */
label.error {
    margin-left: 0px;
}

/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    /*width: 100%;*/
}

/* Input Field */
.modal-content .form-horizontal input[readonly], .modal-content .form-horizontal .chosen-disabled a{
	background-color: #ffffff;
	border: 0px;
	height: 34px;
	color: #000 !important;
}

.modal-content .form-horizontal .chosen-disabled a b{
	display: none;
}

/* Pre Loader */
#preloader {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fefefe;
	z-index: 9999;
	height: 100%;
}

#loaderbody {
	width: 200px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px 0 0 -100px;
}

/* Switch */
.switch {
    margin: 1px 0;
    position: relative;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}
.switch input {
    position: absolute;
    opacity: 0;
}
.switch span {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
    border-radius: 14px;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: background-color .75s;
    transition: background-color .75s;
}
.switch span:after {
    content: "";
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    width: 24px;
    background-color: #ffffff;
    border-radius: 12px;
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
}
.switch input:checked + span:after {
    left: 27px;
    width: 24px;
    top: 2px;
    bottom: 2px;
}
.switch input:checked + span {
    background-color: #eeeeee;
}
.switch-default input:checked + span {
    background-color: #dae0e8;
}
.switch-warning input:checked + span {
    background-color: #deb25c;
}
.switch-danger input:checked + span {
    background-color: #ED5565;
}
.switch-info input:checked + span {
    background-color: #5cafde;
}
.switch-success input:checked + span {
    background-color: #1AB394;
}
.switch-success input:not(:checked) + span {
    background-color: #ED5565;
}
.switch-primary input:checked + span {
    background-color: #5ccdde;
}